<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours & travel Recommendation login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div id="login-container" class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="remember-login">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="links">
            <a href="#">Forgot Password?</a>  
            <a href="{{ url_for('signup') }}">Register</a>
        </div>
    </div>
    <script>
        if (window.location.search.includes("logout=1")) {
          localStorage.removeItem("currentUser");
        }
      </script>
      
</body>
</html>
    



